body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

body {
    background-color: #5C616E;
    color: #333;
    margin: 1em auto;
}


button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

/*#region Header */

header {
    margin: 0 .7em;
    position: relative;
    z-index: -1;
}

    header p {
        font-size: 2.5em;
        margin: 0;
    }

#userSettings {
    float: right;
}

    #userSettings > form:before {
        content: ' | ';
    }

    #userSettings form {
        display: inline;
    }

#menu {
    list-style-type: none;
    padding: 0;
}

    #menu li {
        display: inline-block;
    }

        #menu li:not(:first-child) {
            margin-left: .8em;
        }

/*#endregion */

/*#region forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #changePasswordForm input[type=text], #changePasswordForm input[type=password],
    #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        background: white;
        width: 220px;
    }

    #loginForm input[type=checkbox] {
        border: none;
    }

    #changePasswordForm input[type=submit] {
        margin-bottom: .8em;
    }

#registerPanel {
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

    #registerPanel h2,
    #loginPanel h2 {
        padding-bottom: .5em;
        margin: 0;
    }

    #registerPanel a,
    #loginPanel a {
        color: navy;
        font-weight: bold;
        cursor: pointer;
    }

    #registerPanel p,
    #loginPanel p {
        clear: both;
    }

#localLoginPanel {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
    text-align: left;
}

#socialLoginPanel {
    margin-left: 40px;
    float: left;
    width: 45%;
    text-align: left;
}

    #socialLoginPanel h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#externalLogins {
    text-align: left;
    padding-left: 25px;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: inline;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}

/*#endregion */

#main-content {
    min-height: 400px;
    text-align: center;
}

/*#region info and errors */
.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

    .validation-summary-errors ul {
        padding: 0 !important;
        margin: 0 !important;
    }

/*#endregion */

/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

/*#endregion */

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}

.top-nav {
    height: 50px;
    width: 100vw;
    background-color: #393F4F;
    box-shadow:0px 5px 20px black;
}

.circle {
    background-color: white; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    border:solid;
    border-width: 2px;
    border-color:black;
    position: absolute;
}




/* * Copyright (c) 2012 Thibaut Courouble
 * Licensed under the MIT License
   ================================================== */

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display:none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.customList h2 {
    color: darkorange;
}

.customList h3 { 
  margin-left: 20px;
  padding: 0;
  color:orange;
}
 
.customList ul {
  list-style-type: none;
  margin-left: 60px;
  padding: 0;
}
 
.customList li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
}
 
.customList li:last-child {
  border: none;
}
 
.customList li span {
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.customList li span:hover {
  font-size: 30px; 
}


.quadrant:hover{
 
  /* Add drop shadow effect */
  /*   http://www.webestools.com/css3-box-shadow-generator-css-property-easy-shadows-div-html5-drop-shadow-moz-webkit-shadow-maker.html   */
  -moz-box-shadow:0px 0px 50px 0px #000000;
  -webkit-box-shadow:0px 0px 50px 0px #000000;
  box-shadow:0px 0px 50px 0px #000000;
  
  /* Add curved corners via CSS3 Border radius to popped item that mimic original website effect */
  /*   http://border-radius.com/    */
  -webkit-border-top-left-radius: 200px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0; 
  background-color:#00A7D4;

  /* Give it a higher z-index to it's on top of adjacent items near it. */
  z-index: 10;
}
.quadrant2:hover{
 
  /* Add drop shadow effect */
  /*   http://www.webestools.com/css3-box-shadow-generator-css-property-easy-shadows-div-html5-drop-shadow-moz-webkit-shadow-maker.html   */
  -moz-box-shadow:0px 0px 50px 0px #000000;
  -webkit-box-shadow:0px 0px 50px 0px #000000;
  box-shadow:0px 0px 50px 0px #000000;
  
  /* Add curved corners via CSS3 Border radius to popped item that mimic original website effect */
  /*   http://border-radius.com/    */
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius: 200px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0; 
  background-color:#D04F4F;

  /* Give it a higher z-index to it's on top of adjacent items near it. */
  z-index: 10;
}
.quadrant3:hover{
 
  /* Add drop shadow effect */
  /*   http://www.webestools.com/css3-box-shadow-generator-css-property-easy-shadows-div-html5-drop-shadow-moz-webkit-shadow-maker.html   */
  -moz-box-shadow:0px 0px 50px 0px #000000;
  -webkit-box-shadow:0px 0px 50px 0px #000000;
  box-shadow:0px 0px 50px 0px #000000;
  
  /* Add curved corners via CSS3 Border radius to popped item that mimic original website effect */
  /*   http://border-radius.com/    */
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 200px;
  -webkit-border-bottom-right-radius: 0; 
  background-color:#FF7F50;

  /* Give it a higher z-index to it's on top of adjacent items near it. */
  z-index: 10;
}
.quadrant4:hover{
 
  /* Add drop shadow effect */
  /*   http://www.webestools.com/css3-box-shadow-generator-css-property-easy-shadows-div-html5-drop-shadow-moz-webkit-shadow-maker.html   */
  -moz-box-shadow:0px 0px 50px 0px #000000;
  -webkit-box-shadow:0px 0px 50px 0px #000000;
  box-shadow:0px 0px 50px 0px #000000;
  
  /* Add curved corners via CSS3 Border radius to popped item that mimic original website effect */
  /*   http://border-radius.com/    */
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 200px; 
  background-color:#81B245;

  /* Give it a higher z-index to it's on top of adjacent items near it. */
  z-index: 10;
}